/*'Raleway', sans-serif
	'Roboto', sans-serif
	'Chivo Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--clr-primary: hsl(227, 100%, 50%);
	--clr-primary-light: hsl(227, 100%, 65%);

	--clr-accent: hsl(272, 100%, 38%);
	/* --clr-accent-light: hsl(272, 100%, 53%); */

	--svg-color: white;
	--page-offset: 4.1875rem;
	--page-inline-padding: 8rem;
	--default-transition: all 150ms ease-out;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: white;
	background: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

.cta--primary {
	color: white;
	padding: 1rem 1.5rem;
	background-color: var(--clr-primary);
	text-decoration: none;
	border-radius: 0.25em;
	transition: var(--default-transition);
}

.cta--primary:hover {
	color: var(--clr-primary);
	background-color: white;
}
